
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --main-bg-color: #272822;
   --main-font-color: #eeeeef;
   --accent-color-hover: #24df04;
   --accent-color-item: #8ad77d;
   --delete-color-hover: #6a2d2c;
 }
 
html, body {
   margin: 0;
   padding: 0;
   background-color: var(--main-bg-color);
   height: 100%;
   width: 100%;
   user-select: none;
}


.container {
   margin: 20px auto;
   display: flex;
   flex-direction: column;
   max-width: 400px; 
   align-items: center;
 }


.center-block {
   margin: auto;
   display: block;
   
   font-family: "Encode Sans Expanded", sans-serif;
   font-weight: 500;
   font-style: normal;
}

#input-field {
   border: none;
   padding: 20px;
   border-radius: 5px;
   text-align: center; 
   margin-bottom: 15px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
 }

 #shopping-list {
   color: var(--main-font-color);
   font-family: "Encode Sans Expanded", sans-serif;

 }

 #add-button {
   border: none;
   padding: 10px;
   border-radius: 10px;
 }

button:hover {
   background-color: var(--accent-color-hover);
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.8);
 }
 
 
ul {
   padding-top: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

ul li {
   list-style-type: none;
   color: var(--main-bg-color);
   background-color: var(--accent-color-item);
   border-radius: 5px;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
   padding: 8px;
   flex-grow: 1;
   text-align: center;
   margin: 0;
   font-family: "Encode Sans Expanded", sans-serif;
   font-size: small;
   font-weight: 450;
   user-select: none;
}


ul li:hover {
   background-color: var(--delete-color-hover);
   color: var(--main-font-color);
 }